<p><b>Exercise</b> <br /></p>
<ul>
  <li>
    The users component should get a list of <b>Users</b> and display them
  </li>
  <li>
    Once you pick one of the records should be displayed on the header component
  </li>
</ul>

<p><b>TODOs</b></p>
<ul style="font-size:small">
  <li>Connect the user and header components with a service</li>
  <li>Displayed date should have this format: MM/DD/YY, HH:MM AM/PM</li>
  <li>Status should show "Active" if its true or "Inactive" if its false</li>
</ul>

<p>Users data can be found in <b>data.ts</b> file</p>

<app-header></app-header>
<app-users></app-users>
